.App{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome-screen{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* padding-bottom: -10px; */
    top: 0;
    left: 0;
    bottom: 0;

    position: fixed;
    background: linear-gradient(to right, rgb(22, 22, 88), rgb(3, 3, 27), rgb(22, 22, 88));
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: .5s ease;
    opacity: 1;
    overflow-y: auto;
}
#title_msg{
    font-size: 30px;
    color: white;
    justify-self: start;
    text-align: center;
}
#logo_1{
    width: 300px;
    height: 300px;
}
.welcome_btns{
    width: 500px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    transition: .5s ease;
    border: 2px solid rgb(22, 216, 22);
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
}
.welcome_btns:hover{
    width: 600px;
}
#play{
    background-color: green;
}
#help{
    background: linear-gradient(to right, rgb(3, 3, 27), rgb(22, 22, 88),rgb(3, 3, 27));
    background-color: green;
}
#game{
    width: 80%;
    min-width: 1200px;
    height: 600px;
    background: linear-gradient(to right, rgb(102, 102, 190), rgb(16, 16, 102), rgb(102, 102, 190));
    border: 3px solid rgb(160, 175, 182);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.halves{
    width: 250px;
    height: 270px;
    background: linear-gradient(to bottom, rgba(35, 35, 77, 0.5), rgba(2, 2, 6, 0.695));
    border: 3px solid rgb(160, 175, 182);
    border-radius: 10px;
    margin-top: 20px;
}
#life-lines:hover #life-lines-main{
    visibility: visible;
}
#life-lines-main{
    width: 200px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.752);
    border: 3px solid rgb(160, 175, 182);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -120px;
    margin-top: 100px;
    z-index: 1;
    visibility: hidden;
}
.life-line-header{
    color: rgb(102, 102, 190);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.life-line-content{
    width: 80px;
    height: 60px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(35, 35, 77, 0.5);
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.life-line-content:hover{
    background-color: green;
}
#close-btn{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    background-color: green;
    text-transform: uppercase;
    cursor: pointer;
}
#prizes{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
.prizes{
    width: 200px;
    height: 25px;
    margin: 0em;
    color: rgb(11, 158, 11);
    font-weight: bold;
    /* background-color:red; */
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    overflow: auto;
}
#_100, #_32000, #_1000000{
    color: white;
}
#logo_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-style: none;
}
#logo{
    width: 200px;
    height: 200px;
    margin-top: 30px;
}
#time_box{
    margin-top: 5px;
    width: 100px;
    border: 3px solid rgb(160, 175, 182);
    padding-top: 10px;
    border-radius: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
#q_and_a{
    width: 650px;
    height: 200px;
    position: absolute;
    margin-top: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#question{
    width: 560px;
    height: 80px;
    color: rgb(245, 238, 238);
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(2, 2, 6, 0.695);
    font-weight: bolder;
}
#options{
    width: 650px;
    height: 200px;
    position: absolute;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
}
.options{
    width: 300px;
    height: 50px;
    color: white;
    border-radius: 20px;
    background-color: rgba(2, 2, 6, 0.695);
    margin-top: 0px;
    margin-left: 20px;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
    transition: .3s ease;
}
.options:hover{
    background-color: green;
}